repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        args: ["-x", "--source-path=SCRIPTDIR", "-e", "SC1071"]

  - repo: https://github.com/boidolr/ast-grep-pre-commit
    rev: v0.2.0
    hooks:
      - id: ast-grep
        files: Brewfile$
