<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>me.bendrucker.tailgate</string>
	<key>ProgramArguments</key>
	<array>
		<string>__HOME__/src/go/bin/tailgate</string>
		<string>-config</string>
		<string>__HOME__/.config/tailgate/tailgate.hujson</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>__HOME__/Library/Logs/me.bendrucker.tailgate.log</string>
	<key>StandardOutPath</key>
	<string>__HOME__/Library/Logs/me.bendrucker.tailgate.log</string>
	<key>ThrottleInterval</key>
	<integer>60</integer>
</dict>
</plist>
