name: tests
on:
  push:
    branches: [main]
  pull_request:
jobs:
  bootstrap:
    strategy:
      matrix:
        os:
          - ubuntu-22.04
          - macos-14
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    steps:
    - uses: actions/checkout@v6
    - name: Link to home
      run: ln -s "$PWD" "$HOME/.dotfiles"
    - name: Add brew bin/ to Linux $PATH
      if: ${{ runner.os == 'Linux' }}
      run: |
        eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
        echo "${HOMEBREW_PREFIX}/bin" >> "$GITHUB_PATH"
    - name: Install zsh on Linux
      if: ${{ runner.os == 'Linux' }}
      run: sudo apt-get install -y zsh
    - name: Print Homebrew configuration
      run: brew config
    - name: Cache mise installs
      uses: actions/cache@v5
      with:
        key: mise-${{ runner.os }}-${{ hashFiles('**/mise/config.toml') }}
        restore-keys: |
          mise-${{ runner.os }}-
        path: |
          ~/.local/share/mise
    - name: Cache Homebrew packages
      uses: actions/cache@v5
      with:
        key: homebrew-${{ runner.os }}-${{ hashFiles('**/Brewfile') }}
        restore-keys: |
          homebrew-${{ runner.os }}-
        path: |
          ~/Library/Caches/Homebrew
          /home/linuxbrew/.linuxbrew
    - name: Uninstall old wt formula
      run: brew uninstall wt 2>/dev/null || true
    - name: Bootstrap
      run: ./scripts/bootstrap
      env:
        # skip updates/upgrades to speed up install
        HOMEBREW_NO_INSTALL_UPGRADE: '1'
        # remove stale packages from cache
        HOMEBREW_BUNDLE_INSTALL_CLEANUP: '1'
        # skip deps installed without homebrew in https://github.com/actions/virtual-environments/blob/main/images/macos/macos-10.15-Readme.md
        HOMEBREW_BUNDLE_BREW_SKIP: >
          awscli
          go
          golangci-lint
          kubernetes-cli
          kubectx
          minikube
          python
          python@3.11
          python@3.12
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ludeeus/action-shellcheck@00cae500b08a931fb5698e11e79bfbd38e612a38 # tag=2.0.0
        env:
          SHELLCHECK_OPTS: -e SC1071
